.nickname-input {
  font-size: 20px;
  padding: 8px;
  width: 170px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: #222;
  font-family: 'Pretendard', sans-serif;
}
